@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: hidden;
  height: 100%;
}

[data-scroll-container] {
  overflow: hidden;
}

.mainGradient {
  background: rgb(0, 35, 109);
  background: linear-gradient(
    135deg,
    rgba(0, 35, 109, 1) 16%,
    rgba(235, 37, 119, 1) 74%
  );
}
