.leftSideData > div {
  width: 46.806vw;
  height: 49.167vw;
  border: 2px solid #fff;
  border-radius: 100%;
  margin: auto;
  padding: 30% 20%;
}

.leftSideData > div > span {
  color: #fff;
  text-transform: uppercase;
  line-height: 90%;
  letter-spacing: -0.0608em;
  font-size: 6.806vw;
  font-size: max(45px, 6.806vw);
  font-weight: 500;
}

.rightData span {
  font-size: max(12px, 0.903vw);
}

.rightData h2 {
  font-size: max(28px, 2.20vw);
}
.rightData p {
  font-size: max(18px, 1.228vw);
}
